.info-span {
  font-weight: normal;
  padding-left: 5px;
}

.content {
  padding-top: 36px;
  padding-bottom: 30px;
}

.list-info {
  height: 36px;
  padding: 5px 20px;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
  margin-top: -34px;
  display: flex;
  align-items: center;
}

.list-info .flex-item {
  flex-grow: 1;
  text-align: center;
  flex-shrink: 0;
  flex-basis: 100px;
}
