body {
    padding-bottom: 50px;
}
.status-normal {
    border-color: transparent;
    background: none;
    color: #888888;
}

.status-quit {
    border-color: transparent;
    background: none;
    color: #E84A62;
}